
@{
    ViewBag.Title = "Kid";
}

<h2>Perifil del niño</h2>
<div class="container class_input">
    <img style="width:200px; height:200px; text-align:center" src="~/Content/img/perfil_nino.png" />
    <br />
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="Nombre" placeholder="Arturo">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Apellido Paterno</label>
        <input type="text" class="form-control" id="appaterno" placeholder="Sanchez">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Apellido Materno</label>
        <input type="text" class="form-control" id="apmaterno" placeholder="Felix">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Rango de edad</label>
        <input type="email" class="form-control" id="correoelectronico" placeholder="5 a 10 años">
    </div>

</div>


