
@{
    ViewBag.Title = "Padre";
}


<div class="container class_input">
    <img style="width:200px; height:200px; text-align:center" src="~/Content/img/Foto_Perfil.png" />
    <br />
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="Nombre" placeholder="María">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Apellido Paterno</label>
        <input type="text" class="form-control" id="appaterno" placeholder="Felix">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Apellido Materno</label>
        <input type="text" class="form-control" id="apmaterno" placeholder="López">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="correoelectronico" placeholder="name@example.com">
    </div>

</div>