 ViewBag.Title = "Contact";
}

<br />
<br />
<br />
<br />
<h2>Ayuda</h2>
<div class="col-xs-5">
    <img src="~/Content/img/question_mark_96px.png" />
    <br />
</div>

<br /><br /><br /><br />
<h3>Gracias por confiar en nosotros y utilizar la aplicación Manabi</h3>
<br />
<h3>¿Como funciona esta aplicación?</h3>
<h4>
    La función de la aplicación que estás usando en este momento es el de apoyar a los niños con TEA (Transtorno del espectro autista) 
    con una agenda que los padres pueden modificar a las actividades diarias del infante, estas a su vez son apoyadas por pictogramas.
</h4>

<h3>¿Qué son los pictogramas?</h3>
<div class="row cuadros-menu text-center">


    <div class="col-xs-5">
        <img src="~/Content/Icons/game_controller_52px.png" />
        <br />
    </div>

    <div class="col-xs-5 offset-1">
        <img src="~/Content/Icons/home_60px.png" />
        <br />

    </div>
</div>
<h6>Ejemplos de pictogramas</h6>
<br />

<h4>
    Los pictogramas son imagenes que funcionan como guías para que los niños puedan identificar las actividades de su día a día.
    Usted como padre o tutor puede organizar la agenda del niño para que este tenga organizadas las actividades que debe realizar durante el día. Una vez ordenada la agenda,
    el niño selecciona la actividad a realizar, después se muestra una serie de pictogramas más detallados que llevan paso a paso al niño para realizar la actividad.
</h4>
<br />
<h5>Para resolver más dudas o inquietudes, envianos un mensaje a:</h5>
<br />
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>