 ViewBag.Title = "Contact";
}

<br />
<br />
<br />
<br />
<h2>Ayuda</h2>

<br />
<h5>Gracias por confiar en nosotros y utilizar la aplicación Manabi</h5>
<h5>¿Como funcionan los pictogramas?</h5>


<div class="row cuadros-menu text-center">


    <div class="col-xs-5">
        <img src="~/Content/Icons/game_controller_52px.png" />
        <br />
    </div>

    <div class="col-xs-5 offset-1">
        <img src="~/Content/Icons/home_60px.png" />
        <br />

    </div>
</div>
<br />

<h4>
    Los pictogramas son imagenes que funcionan como guías para que los niños puedan identificar las actividades de su día a día.
    Usted como padre o tutor puede organizar la agenda del niño para que este tenga organizadas las actividades que debe realizar durante el día. Una vez ordenada la agenda,
    el niño selecciona la actividad a realizar, después se muestra una serie de pictogramas más detallados que llevan paso a paso al niño para realizar la actividad.
</h4>
<br />
<h5>Para mas dudas, envia correo a:</h5>
<br />
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>