@{
    ViewBag.Title = "About";
}


<div class="container class_input">
    <br />
    <br />
    <br />
    <br />
    <h1>Suscripción</h1>
    <h5>Suscribete a nuestro plan premium y disfruta de la aplicación sin anuncios.</h5>
    <br />
    <h5>Seleccione plan: </h5>
    <br />

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">1 mes</label>
        <input type="text" class="form-control" id="1mes" placeholder="100 MXN">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">3 meses</label>
        <input type="text" class="form-control" id="3meses" placeholder="280 MXN">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">6 meses</label>
        <input type="text" class="form-control" id="6meses" placeholder=550 MXN">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">1 año (Mejor oferta)</label>
        <input type="email" class="form-control" id="1anio" placeholder="890 MXN">
    </div>

</div>