<br />
<br />
<br />
<br />
<div class="container">
    @* Row 1 *@
    <div class="row cuadros-agenda text-center">
        <div class="col-12">
            Lunes
        </div>
    </div>

    @*Row 2*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/user48px.png" />
        </div>
        <div class="col-xs-9">
            <h3>7:00am</h3>
            <p>Bañarme</p>
        </div>
    </div>

    @*Row 3*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/user48px.png" />
        </div>
        <div class="col-xs-9">
            <h3>7:00am</h3>
            <p>Bañarme</p>
        </div>
    </div>
    <br />

</div>

