
@{
    ViewBag.Title = "Bañarse";
}



<div class="container">
    @* Row 1 *@
    <div class="row cuadros-agenda text-center">
        <div class="col-12">
           Bañars
        </div>
    </div>

    @*Row 2*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/shower_64px.png" />
        </div>
        <div class="col-xs-9">
            <h3>Abrir pasta de dientes</h3>
            <br />
        </div>
    </div>

    @*Row 3*@

    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/toothbrush_48px.png" />
        </div>
        <div class="col-xs-9">
            <h3>Lavar cepillo de dientes</h3>
            <br />
        </div>
    </div>

    @*Row 4*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/hair_brush_100px.png" />
        </div>
        <div class="col-xs-9">
            <h3>Poner pasta al cepillo</h3>
            <br />
        </div>
    </div>

    @*Row 5*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/food_bar_100px.png" />
        </div>
        <div class="col-xs-9">
            <h3>Cepillar mis dientes</h3>
            <br />
        </div>
    </div>

    @*Row 6*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/books_60px.png" />
        </div>
        <div class="col-xs-9">
            <h3>Lavar mi boca con agua</h3>
            <br />
        </div>
    </div>

    @*Row 7*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/home_60px.png" />
        </div>
        <div class="col-xs-9">
            <h3>Lavar cepillo de dientes</h3>
            <br />
        </div>
    </div>

    @*Row 5*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/food_bar_100px.png" />
        </div>
        <div class="col-xs-9">
            <h3>Poner pasta y cepillo en su lugar</h3>
            <br />
        </div>
    </div>

    @*<a href="~/Views/Agenda/Index.cshtml">~/Views/Agenda/Index.cshtml</a>*@


</div>

