
@{
    ViewBag.Title = "Bañarse";
}



<div class="container">
    @* Row 1 *@
    <div class="row cuadros-agenda text-center">
        <div class="col-12">
           Bañarse
        </div>
    </div>

    @*Row 2*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/pijama.png" />
        </div>
        <div class="col-xs-9">
            <h3>Desvestirse</h3>
            <br />
        </div>
    </div>

    @*Row 3*@

    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/shower_48px.png" />
        </div>
        <div class="col-xs-9">
            <h3>Abrir la regadera</h3>
            <br />
        </div>
    </div>

    @*Row 4*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/soap.png" />
        </div>
        <div class="col-xs-9">
            <h3>Usar jabon</h3>
            <br />
        </div>
    </div>

    @*Row 5*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/lotion_bottle_48px.png" />
        </div>
        <div class="col-xs-9">
            <h3>Usar champú en el cabello</h3>
            <br />
        </div>
    </div>

    @*Row 6*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/safety_shower_100px.png" />
        </div>
        <div class="col-xs-9">
            <h3>Enjuagase</h3>
            <br />
        </div>
    </div>

    @*Row 7*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/towel.png" />
        </div>
        <div class="col-xs-9">
            <h3>Secar cuerpo y cabello</h3>
            <br />
        </div>
    </div>

    @*Row 5*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/pijama2.png" />
        </div>
        <div class="col-xs-9">
            <h3>Poner ropa</h3>
            <br />
        </div>
    </div>

    @*<a href="~/Views/Agenda/Index.cshtml">~/Views/Agenda/Index.cshtml</a>*@


</div>

