
@{
    ViewBag.Title = "Jugar";
}

<div class="container">
    @* Row 1 *@
    <div class="row cuadros-agenda text-center">
        <div class="col-12">
            Jugar
        </div>
    </div>

    @*Row 2*@
    <div class="row cuadros-agenda text-center">
        <div class="col-xs-3">
            <img src="~/Content/Icons/toy.png" />
            <img src="~/Content/Icons/toy_car_80px.png" />
        </div>
        <div class="col-xs-9">
            <h3>Elegir juguetes</h3>
            <br />
        </div>
    </div>

